@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body,
html {
  overflow-x: hidden;
}
.kata {
  position: absolute;
  inset: 0;
  width: 100%;
  padding: 60px 20px;
  z-index: 99;
  text-align: center;

  &__selamat {
    color: white;
    font-family: "Kaushan Script", cursive;
  }

  &__nama {
    color: white;
    font-family: "Kaushan Script", cursive;
  }
}
